<svelte:head>
	<title>PineBeltES</title>
</svelte:head>
<script>
	import NavBar from './_components/NavBar.svelte';
	import Carousel from './_components/Carousel.svelte';
	import Grid from './_components/Grid.svelte';
	import Columns from './_components/Columns.svelte';
	import Spinner from './_assets/Spinner.svelte';
	import Footer from './_components/Footer.svelte'

	import { slide } from 'svelte/transition';
	import { circIn } from 'svelte/easing';
	import { onMount } from 'svelte';
	
	let getImages=[
		[ "dump","grade","komatsu","trailer","lowBoy","winter" ],
		[ "slip","hdpe","row","facilities","anomaly","welding" ],
		Array(),
	];

	let images = [];

	let components=[ Carousel, Grid, Columns ];
	let section = components.map(( comp, i )=>{
		 return { 
			id: "sect"+i,
			el: undefined, 
			height: undefined, 
			vis: -1, 
			comp: [ components[i] ],
			images: [],
		};
	});

	onMount(()=>{
		section.forEach(( sect, i )=>{
			sect.height = sect.el.getBoundingClientRect().top;
			sect.images = getImages[i].map(( img, i2 )=>{ 
				img = new Image()
				img.src = `assets/images/${getImages[i][i2]}.jpg`;
				return img;
			});
		});
		
		section[0].vis=0;
	});

	let checkVis = ()=>{ 
		section = section.map(({ id, el, height, vis, comp, images }, i )=>{
			height = el.getBoundingClientRect().top;
			( height > 0 && height < 63 )?  vis = 0 : vis = -1;

			return { id, el, height, vis, comp, images };
		})
	}
</script>
<NavBar />
<main on:scroll='{checkVis}'>
	{ #each section as { id, el, height, vis, comp, images }, i (id) }
		<section {id} bind:this='{ el }'>
			<svelte:component this='{ comp[vis] }' { images }/> 
		</section>
	{ /each }
</main>
<Footer/>
<style>
	main {
		height:100vh;
		width:101.5vw;
		overflow-x:hidden;
		overflow-y:auto;
		scroll-snap-type:y mandatory;
		background:black;
	}
	section { 
		height:86vh;
		width:100vw;
		margin:7vh 0 7vh;
		padding-top:3vh;
		scroll-snap-align:center;
		overflow:hidden;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	:global( .theme ){
		--main:#61adb9; 
		--secondary:#313e50; 
		--shadow:#455561; 
		--alternative:#3a435e;
		--focal:#fceff9;
	}
</style>
