<script>
	import { onMount, onDestroy } from 'svelte';
	import { fly, fade } from 'svelte/transition';
	import { circIn, circOut } from 'svelte/easing';
	import Spinner from '../_assets/Spinner.svelte';

	export let images=[];

	let i=0;
	let loaded=false;
	
	let change = (node, index)=>{ 
		const slide = window.setTimeout(()=>{
			i=index < images.length-1 ? index += 1 : index = 0;		
			return i;
		}, 6000)

		return {
			update(newIndex){
				index = newIndex;
			},
			destroy(){
				window.clearTimeout(slide);
			}
		}
	}

	$: image = images ? images[i] : undefined;

	$: !images[i] ? loaded = false 
		: images[images.length/2].complete ? loaded=true
		: images[images.length/2].onload = ()=> loaded = true;

</script>
<figure class=theme transition:fly='{{ delay:0, duration:1000, y:-1000 }}' >
	<picture>
		{ #if loaded }
			{#each [image] as {src} (src)}
				<img id='{ "img"+i }' use:change={i} in:fade='{{delay:1550, duration:1500}}' out:fade='{{delay:0, duration:1500}}' {src} alt='{src}' />
			{/each}
		{ :else }
			<Spinner/>	
		{ /if }
	</picture>
	<figcaption in:fade='{{ delay:800, duration:1500, easing:circIn }}' out:fade='{{ delay:0, duration:1500, easing:circOut }}'>
		<h2>"The Slip Experts"</h2>
		<p>Whether you need pipeline construction, facility maintenance, or anything in between. No job is too big or small.</p>
	</figcaption>
</figure>
<style>
	figure { 
		height:88vh;
		width:100vw;
		margin:0;
		display:flex;
		flex-direction:column;
		justify-content:space-evenly;
		background:var( --secondary );
	}
	picture {
		position:relative;
		height:60vh;
		width:100vw;
		display:flex;
		justify-content:center;
	}
	figcaption{
		position:relative;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-content:center;
		font-size:3vmin;
		color: var( --focal );
		text-align:center;
	}
	img{
		position:absolute;
		height:100%;
		object-position:center;
		object-fit:contain;
		pointer-events:none;
	}
	h2 {
		margin-bottom: 1vh;
		font-family: Palatino;
		font-style:italic;
	}
	p {
		margin-top:0;
		font-family: Bookman;
	}
</style>
