<script>
	import { fly } from 'svelte/transition';

	let list = 	[ 	
		[	"Quality & Safety", 
			[
				"Certified Welders",
				"Daily Job Safety & Hazard Audits",
				"Comprehensive Quality Assurance & Control Programs",
				"Daily and Weekly Quality Meetings & Reviews",
				"Verified Quality Metrics"
			]
		], [ "Memberships", 
			[ 
				"Energy World Net",		
				"Gold Shovel Standard",
				"National Compliance Management Service Inc",
				"Veriforce Integrated Compliance Solutions"
			]
		]
	]
</script>
<figure>
	<figcaption transition:fly='{{ delay:50, duration: 1500, x:-1000 }}'>	
		<p transition:fly='{{ delay:150, duration: 1500, x:-1000 }}'>
			At Pine Belt Energy Services, our top priorities are worker safety and workplace excellence. 
			We adhere strictly to industry best practices for operational safety and job site security. We take pride in our efforts to create and maintain a safe environment for our workers and ensure that our job planners and engineers implement plans and procedures with that safety and efficiency as a primary focus.
		</p>
		<p transition:fly='{{ delay:350, duration: 1500, x:-1000 }}'>
			Pine Belt has a reputation for quality work performed on time, on budget, and to the highest standards of quality. 
			We strive to meet and exceed the expectations of our clients while meeting all requirements.
		</p>
	</figcaption>
	<img transition:fly='{{ delay:0, duration: 1500, x:1000 }}' src=assets/images/worker.jpg alt="PbES Worker"/>
</figure>
<div transition:fly='{{ delay:0, duration: 1500, y:1000 }}'>
	{ #each list as list }
		<ul>
			<h3 transition:fly='{{ delay:50, duration: 2500, y:1000 }}'>{ list[0] }</h3>
			{ #each list[1] as item, i }
				<li transition:fly='{{ delay:(100+50*i), duration: 2500, y:1000 }}'>{ item }</li>
			{ /each }
		</ul>
	{ /each }
</div>
<style>
	figure {
		height:86vh;
		width:100vw;
		margin:0;
		display:flex;
		justify-content:space-between;
		align-items: start;
		color:ghostwhite;
	}
	figcaption {
		height:48vh;
		width:46vw;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	p {
		width:40vw;
		text-align:center;
		font-family:Garmond;
	}
	img{
		height:86vh;
		min-width:54vw;
	}
	div {
		position:absolute;
		bottom:7vh;
		left:0;
		z-index:10;
		height:35vh;
		width:46vw;
		display:flex;
		justify-content:space-around;
		align-items:start;
		background:#63B0BC;
	}
	ul {
		width:15vw;
		margin: 3vh 0 0;
		font-family:Bookman;
	}
	h3 {
		font-family:Bookman;
		text-align:center;
		font-weight:bold;
	}
</style>
