<script>
	import NavBG from '../_assets/NavBG.svelte';
	import CheckBox from '../_assets/CheckBox.svelte'
</script>
<div id="background">
	<NavBG/>
</div>
<footer>
	<div>
		<h4>
			<CheckBox/>
			Certified
		</h4>
		<span>ISN 400-219064</span>
	</div>
		<div>
		<h4>
			<CheckBox/>
			Award Winning
		</h4>
		<span>Conservation Contractor</span>
	</div>
	<div>
		<h4>
			<CheckBox/>
			Leading Provider
		</h4>
		<span>Of Energy Sevices</span>
	</div>
	<div id=logos>
		<a>
			<img src=./assets/images/fb_logo.svg alt=isnetLog>
		</a>

		<a>
			<img src=./assets/images/isnetworld_logo.svg alt=isnetLog>
		</a>
	</div>
</footer>
<style>
	footer {
		position:fixed;
		bottom:0;
		height:7vh;
		width:100vw;
		z-index:100;
		padding-left:3vw;
		display:flex;
		justify-content:start;
		align-items:end;
	}
	div {
		margin-right:3vw;
		height:5.3vh;
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	h4 {
		margin:0 0 -0.3vh;
		font-size:2vmin;
		font-weight:bold;
	}
	span {
		margin-left:1.1vw;
		font-size:1.3vmin;
	}
	#logos {
		position:absolute;
		right: 3vw;
		flex-direction:row;
		align-items:center;
	}
	img { 
		margin-left:1vw;
		height:4vh;
	}
	#background {
		position:absolute;
		bottom:0;
		height:7vh;
		width:100vw;
		z-index:50;
		margin:0;
		transform: rotate(180deg);
	}
</style>
