<script>
	import Spinner from '../_assets/Spinner.svelte';
	import { fade, fly, slide, blur } from 'svelte/transition';
	import { circIn } from 'svelte/easing';

	import { onDestroy } from 'svelte';
	export let images;

	let captions=[
		"Slip Repair", 
		"Hdpe",
		"Right of Way", 
		"Facilites Maintenance",
		"Anomaly/Integrity Digs",
		"Welding & Fabrication"
	]

	let loaded=[];

	$: images ? images.forEach(( image, i )=>{
		image.complete ? loaded[i] = true :
		image.onload = ()=>{ 
			loaded[i] = true;
		}
	}): null;
</script>
<div id="text" in:fly='{{ delay: 50, duration: 500, y:-1000 }}' out:fly='{{ delay: 50, duration: 300, y:-1000 }}'>
	<p in:slide='{{delay:150, duration:750, easing: circIn}}'>
		At PineBelt, we believe that you are only as good as the people who work for you.	
	</p>
	<p in:slide='{{ delay:250, duration:750, easing: circIn }}' out:slide='{{delay:50, duration:500, easing: circIn}}'>
		From our labor to our superintendents we employ some of the finest men and women in the business.
	</p>
</div>
<div id=grid>
	{ #each captions as caption, i (caption)}
		<figure in:fly='{{ delay:i*500, duration: 2500, x:-1000, y:-800+i*200}}' out:fly='{{ delay:i*50, duration: 500, x:-1000, y:-800+i*200}}'>
			{ #if loaded[i] }
				<img in:blur='{{delay:0, duration:2500}}' src='{ images[i].src }' alt='{ caption }'/>
			{ :else }
				<div id=spinner><Spinner/></div>
			{ /if }
			<figcaption>{caption}</figcaption>
		</figure>
	{ /each }
</div>
<style>
	div {
		height:13vh;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	figure {
		padding:2vh 1vw 1vh;
		background:black;
	}
	figcaption{
		font-size: 2vh;
		margin:auto;
		color:ghostwhite;
	}
	img{
		max-height:20vh;
		min-width:20vw;
	}
	p	{
		text-align:center;
		margin:0;
		font-size:3vmin;
		color:ghostwhite;
	}
	#text {
		align-self:top;
	}
	#grid {
		min-height:72vh;
		width:100vw;
		flex-direction:column;
		flex-wrap: wrap;
		justify-content:space-around;
		align-items:center;
		background:#63B0BC;
		overflow:auto;
	}	

	#spinner{
		width:20vw;
		height:15vh;
		align-items:center;
		background:black;
	}
</style>
