<script>
	import NavBG from '../_assets/NavBG.svelte';
	import Logo from '../_assets/PineBeltLogo.svelte';
	import { onMount } from 'svelte'

	let open;
	let mounted;
	onMount(()=>{
		mounted=true;
		setTimeout(()=> open=true, 5050 )
	})
</script>
<div>
	<NavBG { mounted } { open } />
</div>
<nav>
	<li><a href=#sect2 >Certification</a></li> 
	<li><a href=#sect1 >Solutions</a></li>
	<a href=#sect0><Logo { mounted } { open } /></a>
	<li><a>Contact</a></li>
	<li><a>Employment</a></li>
</nav>
<style>
	div {
		position:absolute;
		top:0;
		height:9vh;
		width:100vw;
		z-index:50;
	}
	nav {
		position:absolute;
		top:0;
		height: 9vh;
		width: 94vw;
		z-index:100;
		padding: 0 3vw;
		display:flex;
		justify-content:space-between;
		align-items:center;
		font-family: Impact, Charcoal, sans-serif;
		font-size: 3vmin;
		font-weight:bold;
		color:black;
	}
	li {
		width:13vw;
		list-style-type:none;
		text-align:center; 
	}
</style>
