<svg viewBox="0 0 60 60" >
	<circle cx=30 cy=30 r=28 fill=none stroke=ghostwhite stroke-width=0.3vh />
	<line x1=15 x2=30 y1=20 y2=40 stroke=lime stroke-width=0.5vh />
	<line x1=30 x2=60 y1=40 y2=0 stroke=lime stroke-width=0.5vh />
</svg>
<style>
	svg{
		height:2.1vh;
		margin-bottom:-0.5vh;
	}
</style>
