<script>
	import { onMount } from 'svelte';
	import { draw } from 'svelte/transition';

	export let open;
	export let mounted;

</script>
<svg class="theme" viewBox="0 0 1909 129.42648" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
	<defs>
		<linearGradient id=gasline>
			<stop offset=0% stop-color=ghostwhite/>
			<stop offset=20% stop-color=#63b0bc/>
			<stop offset=80% stop-color=#63b0bc/>
			<stop offset=100% stop-color=ghostwhite/>
		</linearGradient>
	</defs>
	<rect
		 id="rect260"
		 width="1909"
		 height="129.42648"
		 fill="var(--main)"
		 x="0"
		 y="0" 
		 		/>
	<rect
		 style="opacity:0.98999999;fill:#000014;fill-opacity:0.99215686;fill-rule:nonzero;stroke:none;stroke-width:3;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill"
		 id="rect901"
		 width="1909"
		 height="16.042971"
		 x="0"
		 y="104.76828" 
		 				/>

	{ #if mounted }
		<polyline in:draw='{{ duration: 5000 }}' points='0,113 950,113 950,115' fill=none stroke=url(#gasline) stroke-width=8/>
	{ /if }
	{ #if open }
		<polyline in:draw='{{ duration: 5000 }}' points='980,115 980,113 1909,113' fill=none stroke=url(#gasline) stroke-width=8/>
	{ /if }
</svg>
<style>
	svg {
		height:100%;
		width:100%;
	}
</style>
