<script>
	import { draw } from 'svelte/transition';

	export let mounted;
	export let open;
</script>

<svg viewBox="0 0 266.95 146.46" xmlns="http://www.w3.org/2000/svg">
	<defs>
		<linearGradient id=valveL x1=100% x2=0% y1=0% y2=0% > 
			<stop offset=0% stop-color=ghostwhite/>
			<stop offset=35% stop-color=#63b0bc/>
			<stop offset=90% stop-color=#63b0bc/>
			<stop offset=100% stop-color=ghostwhite/>
		</linearGradient>
		<linearGradient id=valveR x1=0% x2=100% y1=0% y2=100% >
			<stop offset=0% stop-color=ghostwhite/>
			<stop offset=30% stop-color=#63b0bc/>
			<stop offset=70% stop-color=#63b0bc/>
			<stop offset=100% stop-color=ghostwhite/>
		</linearGradient>
	</defs>
	<path d="m6.9062 0c-3.826 0-6.9062 2.0947-6.9062 4.6973l4e-3 90.131c8e-5 2.592 34.469 51.235 38.527 51.629l94.943 4e-3 94.943-4e-3c4.0587-0.3935 38.527-49.037 38.527-51.629v-90.131c1e-4 -2.6026-3.0802-4.6973-6.9063-4.6973z" 
		style="fill-opacity:.99216;fill:#63b0bc;paint-order:markers stroke fill"
				/>
	<path d="m6.9062 0c-3.826 0-6.9062 2.0947-6.9062 4.6973l4e-3 90.131c8e-5 2.592 34.469 51.235 38.527 51.629l94.943 4e-3 94.943-4e-3c4.0587-0.3935 38.527-49.037 38.527-51.629v-90.131c1e-4 -2.6026-3.0802-4.6973-6.9063-4.6973zm6.6602 7.3457h239.82c3.6247 0 6.543 1.8721 6.543 4.1973v80.523c-1e-4 2.3157-32.657 45.773-36.502 46.125l-89.945 6e-3 -89.945-6e-3c-3.845-0.35157-36.502-43.809-36.502-46.125l-2e-3 -80.523c0-2.3252 2.9164-4.1973 6.541-4.1973z" 
		style="fill:#000000;paint-order:markers stroke fill"
				/>
	<path d="m34.139 76.867-22.48 29.229 10.398 12.803 18.148-23.256h186.22l18.146 23.256 10.4-12.803-22.48-29.229-99.178 0.42578z" 
		style="fill:#000000;opacity:.99;paint-order:markers stroke fill"
				/>
	{ #if mounted }
		<polyline in:draw='{{ delay:3550, duration: 1000 }}' points="13,117 38,85 115,85" fill=none stroke=url(#valveL) stroke-width=8/>
	{ /if }
	{ #if open }
		<polyline in:draw='{{ delay:250, duration: 1000 }}' points="141,85 230,85 254,117" fill=none stroke=url(#valveR) stroke-width=8/>
	{ /if }
	<path d="m108.55 71.367-3.4434 0.07617c-0.72599 0.01615-1.3125 1.645-1.3125 3.6895v22.75c0 2.0444 0.58633 3.6895 1.3125 3.6895h3.4434c2.2573 0.0374 2.2332-1.968 2.1973-3.5234l22.564-0.16602 22.564 0.16602c-0.0359 1.5554-0.06 3.5609 2.1973 3.5234h3.4453c0.72617 0 1.3105-1.645 1.3106-3.6895v-22.75c0-2.0444-0.58456-3.6733-1.3106-3.6895l-3.4453-0.07617c-1.9957 0.16996-1.8939 2.1796-1.8887 4.1387l-22.873-0.37305-22.873 0.37305c5e-3 -1.9591 0.10704-3.9687-1.8887-4.1387z" 
		style="fill:#d3d0cd;opacity:.99;paint-order:markers stroke fill"/>
	<path class:open d="m146.99 98.931-26.692-26.029m0 26.029 26.692-26.029m-13.416-6.8334c-11.046 0-20 8.9543-20 20 0 11.046 8.9543 20 20 20s20-8.9543 20-20c0-11.046-8.9543-20-20-20z" 
		style="fill:none;stroke-width:3;stroke:#000000"
				/>
	<g transform="translate(-12.234 -7.9578)" style="fill:#000000" aria-label="PINE BELT">
		<path d="m44.03 34.132h11.648q5.1953 0 7.9661 2.3151 2.7891 2.2969 2.7891 6.5625 0 4.2839-2.7891 6.599-2.7708 2.2969-7.9661 2.2969h-4.6302v9.4427h-7.0182zm7.0182 5.0859v7.6016h3.8828q2.0417 0 3.1536-0.98438 1.112-1.0026 1.112-2.8255 0-1.8229-1.112-2.8073t-3.1536-0.98438z"/>
		<path d="m71.373 34.132h7.0182v27.216h-7.0182z"/>
		<path d="m85.3 34.132h7.8385l9.8984 18.667v-18.667h6.6536v27.216h-7.8385l-9.8984-18.667v18.667h-6.6536z"/>
		<path d="m116.58 34.132h18.94v5.3047h-11.922v5.0677h11.211v5.3047h-11.211v6.2344h12.323v5.3047h-19.341z"/>
		<path d="m165.98 44.668q1.6588 0 2.5156-0.72917 0.85677-0.72917 0.85677-2.151 0-1.4036-0.85677-2.1328-0.85677-0.7474-2.5156-0.7474h-3.8828v5.7604zm0.23697 11.904q2.1146 0 3.1719-0.89323 1.0755-0.89323 1.0755-2.6979 0-1.7682-1.0573-2.6432-1.0573-0.89323-3.1901-0.89323h-4.1198v7.1276zm6.526-9.7891q2.2604 0.65625 3.5 2.4245 1.2396 1.7682 1.2396 4.3385 0 3.9375-2.6615 5.8698-2.6615 1.9323-8.0938 1.9323h-11.648v-27.216h10.536q5.6693 0 8.2031 1.7135 2.5521 1.7135 2.5521 5.487 0 1.987-0.92969 3.3906-0.92968 1.3854-2.6979 2.0599z"/>
		<path d="m183.52 34.132h18.94v5.3047h-11.922v5.0677h11.211v5.3047h-11.211v6.2344h12.323v5.3047h-19.341z"/>
		<path d="m209.04 34.132h7.0182v21.911h12.323v5.3047h-19.341z"/>
		<path d="m223.37 34.132h25.083v5.3047h-9.0234v21.911h-7.0182v-21.911h-9.0417z"/>
	</g>
	<g transform="translate(-11.315 87.637)" 
	   style="fill:#000000" aria-label="ENERGY SEVICES">
		<path d="m69.806 26.171h8.1172v2.2734h-5.1094v2.1719h4.8047v2.2734h-4.8047v2.6719h5.2812v2.2734h-8.2891z"/>
		<path d="m80.743 26.171h3.3594l4.2422 8v-8h2.8516v11.664h-3.3594l-4.2422-8v8h-2.8516z"/>
		<path d="m94.149 26.171h8.1172v2.2734h-5.1094v2.1719h4.8047v2.2734h-4.8047v2.6719h5.2813v2.2734h-8.2891z"/>
		<path d="m109.36 31.343q0.94531 0 1.3516-0.35156 0.41407-0.35156 0.41407-1.1562 0-0.79688-0.41407-1.1406-0.40625-0.34375-1.3516-0.34375h-1.2656v2.9922zm-1.2656 2.0781v4.4141h-3.0078v-11.664h4.5938q2.3047 0 3.375 0.77344 1.0781 0.77344 1.0781 2.4453 0 1.1562-0.5625 1.8984-0.55469 0.74219-1.6797 1.0938 0.61719 0.14062 1.1016 0.64062 0.49219 0.49219 0.99219 1.5l1.6328 3.3125h-3.2031l-1.4219-2.8984q-0.42968-0.875-0.875-1.1953-0.4375-0.32031-1.1719-0.32031z"/>
		<path d="m127.88 36.968q-1.125 0.54688-2.3359 0.82031-1.2109 0.27344-2.5 0.27344-2.9141 0-4.6172-1.625-1.7031-1.6328-1.7031-4.4219 0-2.8203 1.7344-4.4375 1.7344-1.6172 4.75-1.6172 1.1641 0 2.2266 0.21875 1.0703 0.21875 2.0156 0.64844v2.4141q-0.97656-0.55469-1.9453-0.82812-0.96094-0.27344-1.9297-0.27344-1.7969 0-2.7734 1.0078-0.96875 1-0.96875 2.8672 0 1.8516 0.9375 2.8594 0.9375 1.0078 2.6641 1.0078 0.46875 0 0.86718-0.05469 0.40625-0.0625 0.72657-0.1875v-2.2656h-1.8359v-2.0156h4.6875z"/>
		<path d="m128.56 26.171h3.2891l2.6562 4.1562 2.6562-4.1562h3.2969l-4.4453 6.75v4.9141h-3.0078v-4.9141z"/>
		<path d="m155.45 26.538v2.4688q-0.96094-0.42969-1.875-0.64844t-1.7266-0.21875q-1.0781 0-1.5938 0.29688-0.51563 0.29688-0.51563 0.92188 0 0.46875 0.34375 0.73438 0.35157 0.25781 1.2656 0.44531l1.2812 0.25781q1.9453 0.39062 2.7656 1.1875 0.82032 0.79688 0.82032 2.2656 0 1.9297-1.1484 2.875-1.1406 0.9375-3.4922 0.9375-1.1094 0-2.2266-0.21094-1.1172-0.21094-2.2344-0.625v-2.5391q1.1172 0.59375 2.1562 0.89844 1.0469 0.29688 2.0156 0.29688 0.98437 0 1.5078-0.32812t0.52344-0.9375q0-0.54688-0.35938-0.84375-0.35156-0.29688-1.4141-0.53125l-1.1641-0.25781q-1.75-0.375-2.5625-1.1953-0.80469-0.82031-0.80469-2.2109 0-1.7422 1.125-2.6797t3.2344-0.9375q0.96093 0 1.9766 0.14844 1.0156 0.14062 2.1016 0.42969z"/>
		<path d="m158.87 26.171h8.1172v2.2734h-5.1094v2.1719h4.8047v2.2734h-4.8047v2.6719h5.2812v2.2734h-8.2891z"/>
		<path d="m168.42 26.171h3.0234l3.0938 8.6094 3.0859-8.6094h3.0234l-4.3203 11.664h-3.5859z"/>
		<path d="m182.18 26.171h3.0078v11.664h-3.0078z"/>
		<path d="m197.4 37.194q-0.82812 0.42969-1.7266 0.64844t-1.875 0.21875q-2.9141 0-4.6172-1.625-1.7031-1.6328-1.7031-4.4219 0-2.7969 1.7031-4.4219 1.7031-1.6328 4.6172-1.6328 0.97656 0 1.875 0.21875t1.7266 0.64844v2.4141q-0.83593-0.57031-1.6484-0.83594t-1.7109-0.26562q-1.6094 0-2.5312 1.0312-0.92188 1.0312-0.92188 2.8438 0 1.8047 0.92188 2.8359 0.92187 1.0312 2.5312 1.0312 0.89844 0 1.7109-0.26562t1.6484-0.83594z"/>
		<path d="m199.9 26.171h8.1172v2.2734h-5.1094v2.1719h4.8047v2.2734h-4.8047v2.6719h5.2812v2.2734h-8.2891z"/>
		<path d="m218.95 26.538v2.4688q-0.96094-0.42969-1.875-0.64844t-1.7266-0.21875q-1.0781 0-1.5938 0.29688-0.51563 0.29688-0.51563 0.92188 0 0.46875 0.34375 0.73438 0.35157 0.25781 1.2656 0.44531l1.2812 0.25781q1.9453 0.39062 2.7656 1.1875 0.82032 0.79688 0.82032 2.2656 0 1.9297-1.1484 2.875-1.1406 0.9375-3.4922 0.9375-1.1094 0-2.2266-0.21094-1.1172-0.21094-2.2344-0.625v-2.5391q1.1172 0.59375 2.1562 0.89844 1.0469 0.29688 2.0156 0.29688 0.98437 0 1.5078-0.32812t0.52344-0.9375q0-0.54688-0.35938-0.84375-0.35156-0.29688-1.4141-0.53125l-1.1641-0.25781q-1.75-0.375-2.5625-1.1953-0.80469-0.82031-0.80469-2.2109 0-1.7422 1.125-2.6797t3.2344-0.9375q0.96093 0 1.9766 0.14844 1.0156 0.14062 2.1016 0.42969z"/></g></svg>
<style>
	svg {
		height:10vh;
		min-width:13vw;
		margin:0 0 -2.1vh;
	}
	@keyframes rotate{
		100%{ transform: rotate(720deg); }
	  }
	.open {
		transform-origin: 50% 59%;
		animation-name: rotate;
		animation-duration: 5s;
	}
	#valveL {
		transform-origin:center;
	}
</style>
