<svg viewBox="0 0 100 100" >
	<defs>
		<linearGradient id="spinnerGrade">
			<stop offset=0% stop-color=#63b0bc/>
			<stop offset=100% stop-color=ghostwhite/>
		</linearGradient>
	</defs>
	<circle
		cx=50
		cy=50
		r=45
		stroke=url(#spinnerGrade)
		stroke-width=1vh
		fill=none;
					/>
</svg>
<style>
	 @keyframes rotate{
		100%{ transform: rotate(360deg); }
	  }
	  svg{
		height:9vh; 
		width:9vh;
		transform-origin: center;
		animation-name: rotate;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	  }
</style>
